#--------------------------------------
#all files are ignored by default
#--------------------------------------
*.*

#--------------------------------------
#permited files
#--------------------------------------

#txt files
!*.txt
!.placeholder

#ignore list
!*.gitignore


#Gerber
!*.exc
!*.gbr
!*.gpi
!*.drl
!*.dri


#figures
!*.png

#PROFICAD
!*.sxe

#tex files
!*.tex
!*.cls
!*.bib
!*.bst
!*.sty

#C source files
!*.c
!*.h

#ASM source files
!*.asm

#JAVA files
!*.java

!*.form

!*.jar

#office files
!*.docx
!*.docm
!*.doc
!*.xlsx
!*.xlsm
!*.xls
!*.rtf
!*.pptx
!*.odp
!*.csv

#matlab files
!*.m
!*.mat
!*.slx

#eagle files
!*.sch
!*.brd
!*.lbr
!*.dru

!*.pdf


#KiCad
!*.pro
_autosave*
!*.sch
!*.lib
*-cache.lib
*-rescue.lib
!*.net
!*.brd
!*.kicad_pcb

#--------------------------------------
#ignored files - special specifications
#--------------------------------------

#some files, that do not have suffix
makefile

#office temporary files
~$*.docx
~$*.xlsx
~$*.doc
~$*.xls
~$*.rtf
